
/********************************************
 *   H  T  M  L    E  L  E  M  E  N  T  S   *
 ********************************************/
 
body {
  background:#85ADEB;
  color:#333;
  font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; } 
tr.odd td, tr.even td {
  padding: 0.3em; } 
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  color: #444!important; } 
h1 {
  font-size: 1.15em; } /*  font-size: 1.3em; */
h2 {
  font-size: 1.1em; } /*  font-size: 1.2em; */
h3 {
  font-size: 1.04em; } 
h4, h5, h6 {
  font-size: 1.02em; } 
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em; } 
fieldset {
  border: 1px solid #ccc; } 
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd; } 
table {   /* make <td> sizes relative to body size! */
  font-size: 1em; } 
.item-list .title {
  font-size: 1em;
  color: #444; } 
hr {
  clear: none; /* So that horizontal rules don't clear out floating blocks */
  background: none;
  height: 1px;
  border-width: 0;
  color: #ccc; /* IE 6/7 */
  background-color: #ccc; /* FF */
  margin: 0.5em 0; /* FF */
  _margin: 0; /* IE6 */
  #margin: 0; /* IE7 */ }
img {
  border: none; } 
 
/********************************************
 *      M  A  I  N     L  A  Y  O  U  T     *
 ********************************************/

#header {
  background: white url('images/banner_bg.jpg') 20px 0 repeat-x;
  height: 36px;
  width: 100%;
  margin:0;
  padding:0;
  border: none; } 
#header h1 {
  font-size: 16px;
  margin: 0.5em 0 0 0; }  
#content {
  width: 100%; 
  margin: 0;
  padding: 0; 
  background: url('images/bg.jpg') top repeat-x; } 
#logo {
  display: block;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 7px 0 0 0;
  height: 36px; } 
#logo img {
  float: left; /* LTR */
  padding: 0 1em;
  border: 0; } 
#mission {
  background: #EBF3FF;
  padding: 1.5em 2em;
  border: 1px solid #8AB5EA; 
  margin: 10px 10px; 
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #79A7E3; } 
#mission, 
.node .content, 
.comment .content {
  line-height: 1.4em; } 
#help {
  font-size: 0.9em;
  margin-bottom: 1em; }
#main-container {
  width: auto;
  margin: 10px;
  padding: 0; } 
#main  {
  overflow: hidden;
  display: block;
  width: auto; /* auto */
  margin:0 0 10px 0;
  padding: 10px;
  background: #fff;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: #79A7E3; }

/******************************
 *   S  I  D  E  B  A  R  S   *
 ******************************/

.sidebar-container {
  width: 160px;
  background: none;
  vertical-align: top; 
  margin: 0;
  padding: 0;
  } 
#sidebar-left {
  margin: 10px 0 10px 10px; }
#sidebar-right {
  margin: 10px 10px 10px 0; } 
.sidebar {
  width:150px;
  background: #fff;
  border-color: #79A7E3;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  padding: 0;
  margin:0; } 
.sidebar li ul,
.sidebar .item-list ul {
  margin-left: -10px; } 
.sidebar li {
  padding-left: 0!important; } 
.sidebar li {
  list-style-image: url(images/menu-leaf.gif)!important } 
.sidebar li.expanded {
  list-style-image: url(images/menu-expanded.gif)!important } 
.sidebar li.collapsed {
  list-style-image: url(images/menu-collapsed.gif)!important } 
  
/**************************
 *    F  O  O  T  E  R    *
 **************************/
#footer {
  /* background-color: white; */
  border-top: 1px solid #fabd23;
  border-bottom: 1px solid #fabd23;
  margin: .6em 0 1em ;
  padding: 0.4em 10px 1.5em 10px;
  text-align: center;
  font-size: 90%;
  width: auto;
  font-size: 11px!important;
  color: #fff!important; }
#footer li {
  display: inline;
  margin: 0 1.3em; }
#f-list {
  display: block;
  margin: 1em 0; }
#f-poweredbyico, #f-copyrightico {
  margin: 8px 0;
  padding: 0;
  position: relative;
  top: -2px; /* Bump it up just a tad */ }
#f-poweredbyico {
  float: right;
  height: 1%; }
#f-copyrightico {
  float: left;
  height: 1%; }
#footer a, 
#footer a:link,
#footer a:hover,
#footer a:active,
#footer a:visited {
  color: #fff; }
#footer .block,
#footer .content { 
  border: none!important; } 
#footer h2.title {
  display: none; } 
#footer img {
  margin: 4px; } 

/**************************
 *    B  L  O  C  K  S    *
 **************************/

.block, .box {
  padding: 0 0 1.5em 0; /* LTR */ } 
.sidebar .block {
  margin:0;
  background: #F2F8FF;
  border-bottom: 1px solid #ADD1FF; } 
.block .content {
  padding: 4px;
  width: auto;  
  margin: 0; } 
.block h2 { /* H2 Headers // SHL */
  font-size: 11px;
  margin: 0;
  padding: 0.25em 0.2em 0.25em 0.7em;
  border-top: 1px solid #F2F8FF;
  border-bottom: 1px solid #ADD1FF;
  background: #D6E8FF;
  color: #003399; } 
.block .title {
  margin: 0; } 
.block {
  margin-bottom: 1.5em; 
  padding: 0; } 

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

.links a {
  font-weight: bold; } 
.box .title {
  font-size: 1.1em; } 
.node {
  margin: .5em 0 2em; /* LTR */ } 
.node .content, .comment .content {
  margin: .5em 0 .5em; } 
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */ } 
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em; } 
#comments .comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em; } 
#comments .comment .title a {
  font-size: 1.1em;
  font-weight: bold; } 
#comments .comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red; } 
#comments .comment .picture {
  border: 1px solid #abc;
  float: right; /* LTR */
  margin: 0.5em; } 
  
/**************************
 *      L  I  N  K  S     *
 **************************/
a {
  color:#069;
  font-weight: normal; } 
a:link,a:visited {
  color:#069;
  outline:none;
  text-decoration:none } 
a:hover,a:active {
  color: #000;
  text-decoration:none } 
li a.active {
  font-weight: bold;
  text-decoration: none;
  color: #444!important; } 

/************************************
 *   N  A  V  I  G  A  T  I  O  N   *
 ************************************/

#nav {
  height: 17px;
  border-bottom:1px solid #6997D3; /* #79A7E3; */
  margin: 0;
  padding: 0; } 
#nav .block, #nav .block .content {
  display: inline;
  margin: 0;
  padding: 0; } 
#nav .block h2 {
  display: none; } 
#nav li {
  display: block;
  height: 13px;
  background:none;
  margin:0;
  padding:2px 0;
  float: left; } 
#nav li a,#nav li a:link,#nav li a:visited {
  height: 13px;
  background: url('images/tab_inactive_bg.gif') top repeat-x;
  border-color: #C2DCFF; 
  border-width: 1px 1px 0 1px; 
  border-style: solid;
  margin:0;
  padding:1px 10px 3px 10px;
  color: #1C3399;
  font-weight: normal; } 
#nav li a.active {
  background: url('images/tab_active_bg.gif') top repeat-x;
  font-weight: bold;
  border-color: #79A7E3; } 
/************************ TOP NAV *************************/
#topnav {
  display: block;
  width: auto;
  height: 17px;
  background: #EBF3FF;
  text-align: right;
  padding: 5px 4px 3px 4px;
  margin: 0;
  border-bottom: 1px solid #D3DFF3; } 
#topnav .block {
  display: block;
  padding: 0;
  margin: 0; }
#topnav #subnavlist {
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 10px; } 
#topnav #subnavlist li {
  margin:0;
  padding:0 } 
#topnav #subnavlist li a:link,#subnavlist li a:visited {
  margin:0 10px 0 0;
  padding:0; } 
#topnav #subnavlist li a:hover,#subnavlist li a:active {
  text-decoration:underline } 
#topnav .block .content,
#topnav .block ul,
#topnav .block li {
  display: inline;
  margin: 0;
  padding: 0; } 
#topnav .block li a {
  padding: 4px; } 
#topnav .block h2 {
  display: none; } 
  

/**********************
 *     T  A  B  S     *
 **********************/
 
ul.tabs {
  display: block;
  background: url(images/tabmenu_bg.jpg) top left repeat-x;
  padding: 0;
  height: 28px;
  width: auto;
  margin: 0 0 .5em 0;
  border: none; } 
ul.tabs li {
  background: url(images/tabmenu_separator.jpg) right top no-repeat;
  display: block;
  margin:0;
  padding:6px 0;
  float: left;
  border: none; } 
ul.tabs li a,
ul.tabs li a:link,
ul.tabs li a:visited,
ul.tabs li a:hover {
  background: none;
  border: none;
  margin:0;
  padding: 7px 10px 10px 10px; } 
ul.tabs a.active {
  background: #fff;
  border-bottom: 1px solid #fff;
  z-index: 10;
  color: #444!important; } 

/****************************************
 *    N  O  D  E    T  I  T  L  E  S    *
 ****************************************/
 
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #444;
  margin: 0 auto;  /* decrease default margins for h<x>.title */ } 
.node .title { 
  border-bottom: 1px solid #444;
  margin-bottom: 2px; } 
.node .node, #comments .comment {
  padding: 4px 7px 7px 7px;
  margin-bottom: 0;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #ccc; } 
.node .content {
  margin: 0 0 .5em 0;
  padding: 2px; } 
.node .node {
  margin-bottom: 
  0.4em; } 
.title, .title a {
  font-weight: bold;
  font-size: 1.2em;
  color: #444; } 
.node .title, .node .title a {
  font-weight: bold;
  font-size: 14px;
  color: #444; } 
h1.title,
.node .title,
.node .title a,
.node .title a:link,
.node .title a:visited,
.node .title a:hover {
  color: #444;
  font-size: 14px;
  font-weight: bold; } 
  h1.title,
.node .title {
  padding: 0 0 4px 0;
  border-bottom: 1px solid #4273B5; } 

/************************************
 *   B  R  E  A  D  C  R  U  M  B   *
 ************************************/

.breadcrumb {
  margin: -10px -10px 5px -10px;
  padding-top: 4px;
  padding-left: 10px;
  background: #EBF3FF; } 


/**********************
 *    L  I  S  T  S   *
 **********************/
 
#forum ul.links, 
.node div.links ul.links {
  display: list-item;
  padding: 0;
  margin: 4px 0 7px 10px!important; 
  list-style-type: none;
  border: none; } 
#forum .links li, 
.node div.links ul.links li  {
  margin-left: 10px!important;
  padding: 0!important;
  display: list-item!important;
  list-style-image: url(images/bullet_addnew.gif)!important;
  border: none; } 

/******************************
 *   M  E  S  S  A  G  E  S   *
 ******************************/

.messages {
  margin-top: 4px;
  border-left: none!important;
  border-right: none!important;
  padding: 4px 7px!important; } 
.error {
  padding: 4px 10px 7px 10px!important;
  border-color: red; } 
.warning {
  color: #444600; } 

/******************************************
 *    A  D  M  I  N    P  A  N  E  L  S   *
 ******************************************/
 
div.admin-panel .description {
  color: #999; } 
div.admin-panel .body {
  background: #f4f4f4;
  margin: 0; } 
.admin-list dd { 
  margin-left: 2.25em; 
  margin-top: 0.5em; }
.admin-panel h3 { 
  border-bottom: 1px solid #4E7CB7; 
  font-size: 11px;
  margin: 0;
  padding: 0.4em 0.2em 0.4em 0.7em;
  border-top: 1px solid #F2F8FF;
  border-bottom: 1px solid #ADD1FF;
  background: #D6E8FF;
  color: #003399; }
div.admin-panel {
  background: #C2DCFF;
  padding: 1px 2px 2px 1px; } 
.links a,
.links a:link,
.links a:visited {
  font-weight: normal; } 
.links {
  color: #999; } 
.node .links {
  border-top: 1px solid #ccc;
  padding-top: 4px;
  clear: both;
  margin-top: 4px; } 
.node .taxonomy .links {
  border: none; }
.taxonomy {
  display: block;
  width: 240px;
  float: right;
  text-align: right;
/* So that taxonomies don't get to close to submitted info */
  padding-right: 10px; } 
.submitted { 
  float: right; 
  margin-right: 2px;
  color: #999;
  font-size: 0.8em; } 
.sticky {
  padding: .5em;
  background: url(images/yellow_bg.jpg) top left repeat-x;
  border: 1px solid #FFE6A0; } 
  
/***************************
 *    S  E  A  R  C  H     *
 ***************************/

#search-container {
  padding: 20px 10px 0 0; 
  width: 136px;
  text-align: right;
  vertical-align: top; } 
#search-container label {
  display: none; }   
#search-container #search {
  vertical-align: top; }
/*
#search-container #edit-submit {
  background:transparent url('images/search_button.jpg') no-repeat top left;
  cursor: pointer;
  border: none;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 3px 12px; } 
*/
/* Adopted from http://www.ampsoft.net/webdesign-l/image-button.html */
#edit-search-theme-form-1-wrapper {
  display: block;
  float: left;
  height: 21px;
  padding: 0;   
  margin: 0; 
  border: none;
}
#search-container #submitbutton-container {
  width: 21px;
  height: 21px;
  display: block;
  float: left;
  margin: 0 0 0 -1px;
  margin-top: 0; 		/*setting for FF and other standards compliant browsers*/
  #margin-top: 1px; 	/*setting for IE7*/
  _margin-top: 1px;     /*setting for IE6*/

}  
#search-container button {
  width: 21px;
  height: 21px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent url('images/search_button.jpg') no-repeat center top;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}
#search-container .form-text {
  border: 1px solid #ccc;
  margin: 0!important;
  padding: 0;
  height: 18px; 
  width: 112px;
  } 
/*
#edit-search-theme-form {
  float:right;
  margin: 0.5em 0 0 } 
#search {
  margin-top: 4px; } 
#edit-search-theme-form .form-button {
  margin:0 } 

#search .label {
  font-weight: normal!important;
  color: #999; } 
*/  
.search-results .title {
/* font-size: 12px; */
  background: #EDF5FA;
  border-bottom: 1px solid #96B2E2; } 
.search-results .title a,
.search-results .title a:link,
.search-results .title a:hover,
.search-results .title a:visited {
  font-weight: bold; } 

/************************
 *    F  O  R  U  M     *
 ************************/

#forum table {
  width: 100%; } 
#forum td {
  padding: 0.5em; } 
#forum td.topics, #forum td.last-reply {
  background-color: #ddd; } 
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb; } 
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em; } 
#forum .even td,
#forum .odd td {
  height: 37px;
  background: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; } 
#forum td.container {
  height: auto;
  background: #efefef;
  font-size: 11px;
  font-family: tahoma;
  padding-left: .7em; } 
#forum th {
  font-size: 11px;
  margin: 0;
  padding: 0.5em 0.2em 0.5em 0.5em;
  border-top: 1px solid #ADD1FF!important;
  border-bottom: 1px solid #ADD1FF!important;
  background: #D6E8FF;
  color: #003399; } 
#forum tr td.forum {
  padding-left: 25px;
  background-position: 10px 50%!important;
  background-image: url(/d6/misc/forum-default.png);
  background-repeat: no-repeat;}
td.topics, td.posts {
  text-align: left!important;
  padding-left: 1.7em!important; } 
#forum .title a:link,#forum .title a:visited,#forum .title a:hover {
  font-size: 11px;
  font-weight: bold;
  color: #069; }
.block-forum h3 {
  margin-bottom: .5em; }  

/********************************
 *    C  A  L  E  N  D  A  R    *
 ********************************/

.month-view tbody td {
  height: 48px; } 
.month-view tbody td.heading {
  height: 14px; } 
.event-tz {
  display: none; } 
.event-start {
  width: 120px;
  padding: .4em .7em .4em .7em!important; 
  background: #FBECB1;
  border: 1px solid #FFDF63;
  text-align: right;
  margin-bottom: 0; } 
.event-end {
  width: 120px;
  padding: .4em .7em .4em .7em!important; 
  text-align: right;
  margin-top: 0; } 
.event-nodeapi {
  margin: 0; } 

/********************************
 *    U  N  S  O  R  T  E  D    *
 ********************************/

.site-name {
  margin: 0.6em 0 0 0;
  padding: 0; } 
.site-name a, 
.site-name a:link, 
.site-name a:visited, 
.site-name a:hover {
  color: #444!important;
  font-weight: bold; } 
#slogan {
  display:block;
  font-size:17px }
li.openid-link, li.openid-processed {
  display: block;
  width: auto;
  text-align: center; } 
.meta {
  margin-top: 1em; } 
#block-menu-338 .content ul.menu {
  list-style-type: none!important; } 
.field-label {
  margin-bottom: 0.3em; } 
.filefield-item {
  margin-bottom: 1em; } 
.comment-bar {
  width: 260px;
  height: 14px;
  float: right; } 
.secondary-links a,
.secondary-links a:link,
.secondary-links a:visited {
  color: #fff; } 
.password-description {
  font-size: 11px!important; } 
.caption {
  font-size: 11px; } 
.feed-icon {
  display: block;
  margin: .7em 1.2em .4em 1.2em; } 
  
/*** AGGREGATOR ***/
  
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0; } 
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em; } 
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em; } 
#aggregator h3 {
  margin-top: 1em; } 

/*** PROFILES ***/

#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em; } 
#profile .profile .name {
  padding-bottom: 0.5em; } 

/***********************************************************
 *   M  E  D  I  A  W  I  K  I    S  P  E  C  I  F  I  C   *
 ***********************************************************/

/*********************************************
 * 0.9: New styles for the MediaWiki version *
 *********************************************/

.block .content {
  padding: 7px 4px 7px 4px; }
.node ul.links li {
  padding: 0; }
#nav {
  border-bottom:1px solid #6997D3; /* #79A7E3; */
  margin: 0;
  padding: 4px 0 0 10px; }
#nav .block, #nav .block .content, #nav ul.menu {
  margin: 0;
  padding: 0;
  border: none; }
#sidebar-left .block ul.menu {
  margin: 0;
  padding: 0 0 0 20px; }
#sidebar-left li {
  padding-left: 0!important;
  margin-left: 0!important; }
#main .content ul {
  margin: 4px 0; 
  padding: 0 0 0 20px; }
#main .content ol {
  margin: 4px 0; 
  padding: 0 0 0 25px; }
#main .content li {
  padding-left: 0!important;
  margin-left: 0!important; }
#searchInput {
  width: 136px!important;
  margin-bottom: 4px; }

#main .content ul li {
  list-style-image: url(images/menu-leaf.gif)!important } 
#main .content.expanded ul li {
  list-style-image: url(images/menu-expanded.gif)!important } 
#main .content ul li.collapsed {
  list-style-image: url(images/menu-collapsed.gif)!important } 
  
#searchform {
  margin: 0;
  padding: 0; }
#searchform div {
  text-align: center;
  margin: 0;
  padding: 0; }
.editButtons {
  margin: 7px 0; }
.editsection {
  display: block;
  color: #666;
  font-size: 11px;
  font-weight: normal;
  float: right; } 
h1, h2 {
padding-bottom: .1em;
border-bottom: 1px solid #999; }
h1.site-name {
  border: none; }
a.new, .new a {
  color: #d00!important; }
a.new:hover, .new a:hover {
  color: #f00!important; }
.ril-notice {
  margin: 0; }
.printfooter {
  display: none; }
.catlinks {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  margin-top: 1.2em;
  clear: both; }
.mw-specialpagesgroup { 
  border-bottom: 1px solid #444;
  padding-bottom: .1em; }

/**********************************************************************
 *   I  M  P  O  R  T  E  D    F  R  O  M    M  O  N  O  B  O  O  K   *
 **********************************************************************/

/* general styles */

table {
	font-size: 100%;
	color: black;
	/* we don't want the bottom borders of <h2>s to be visible through
	   floated tables */
	background-color: white;
}
fieldset table {
	/* but keep table layouts in forms clean... */
	background: none;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

fieldset {
	border: 1px solid #ccc;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}

textarea {
	width: 99%;
	padding: .1em;
}

input.historysubmit {
	padding: 0 .3em .3em .3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.success {
	color: green;
	font-size: larger;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}

/*
** content styles
*/

#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {	
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

/***********************************
 *   M  I  S  C    F  I  X  E  S   *
 ***********************************/


/* This forces a div tag att the bottom of the #main div (which content go), to go below
  the floated table, and so making the #main div large enough to contain the floated table.  */
.mw_clear {
 clear: both;
}
/* This avoids the #main box to be oversized in IE6 when a page contains floated boxes */
#main .content {
  width: 100%; }
#footer img {
  border: none; /* To ensure that there's no ugly borders around the icons */
}
.ril-notice
 {
  font-size: 9px;
  color: #fff!important;
}
.ril-notice-tiny {
  display: block;
  width: auto;
  text-align: right;
  margin: 1em 0 .2em 0;
  padding: 0 16px; }
.ril-notice-tiny,
.ril-notice-tiny a,
.ril-notice-tiny a:link,
.ril-notice-tiny a:visited,
.ril-notice-tiny a:active,
.ril-notice-tiny a:hover
 {
  font: 7px arial;
  color: #B9D5FF!important;
  text-transform: uppercase;
}

body div#ril-notice {
  font-size: 9px!important;
}

